/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: darkcyan;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 18px 0px;
  width: 150px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 160, 160);
}

.topnav:has(a:not(.active):hover) a.active {
  background-color: darkcyan;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: rgb(0, 160, 160);
  color: white;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

  .topnav a,
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}